################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NetTester/bin/
/NetTester/obj/
/NetTester/.vs/
/.vs/
